@using Mono.TextTemplating
@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<link rel="stylesheet" href="css/styles.css">

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<div>
    <main>
        <header>
            <button @onclick="Volver">
                <img src="/Money.png" alt="Ícono de Menú" />
                <span>Prestamax_SRL</span>
            </button>
            <button @onclick="SalirMenu">
                Usuario: @userName
            </button>
        </header>

        <article>
            @Body
        </article>

        <footer>
            <p>© 2024 Prestamax SRL</p>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    private string userName;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
        }
        else
        {
            userName = "";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/menu");
    }

    public void SalirMenu()
    {
        navigationManager.NavigateTo("/logout");
    }
}