/* Establecer fondo azul completo */
html, body {
    background-color: #1A2E5B !important; /* Fondo azul */
    height: 100% !important; /* Asegura que ocupe toda la altura */
    margin: 0 !important; /* Elimina márgenes */
    padding: 0 !important; /* Elimina padding */
    display: flex; /* Permite una distribución flexible */
    flex-direction: column; /* Apilar el contenido verticalmente */
}

main, article {
    background-color: transparent !important; /* Hereda el fondo azul */
}


/* Aseguramos que el contenido en 'main' sea transparente y ocupe todo el espacio */
main {
    flex: 1; /* Permite que 'main' ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el contenido */
    width: 100%; /* Asegura que 'main' ocupe todo el ancho */
    padding: 0;
    background-color: transparent; /* Hereda el fondo azul */
}

/* El artículo también hereda el fondo azul */
article {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent; /* Hereda el fondo azul */
}

/* Asegura que el pie de página tenga el mismo color azul */
footer {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #1A2E5B; /* Azul igual al fondo */
    width: 100%;
}

/* Estilos para los botones del header */
header {
    background-color: #1A2E5B; /* Azul igual al fondo */
    padding: 10px;
    display: flex;
    align-items: center;
}

    header button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: white;
    }

    header img {
        width: 70px;
        height: 40px;
        margin-right: 8px;
    }

    header span {
        color: white;
    }

    header button:last-child {
        font-size: 18px;
        margin-left: auto;
    }

/* Estilo para el manejo de errores */
#blazor-error-ui {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
    color: white;
    padding: 1em;
    text-align: center;
}