@page "/menu"
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<div class="menu-container">
    <div class="menu-box">
        <h1 class="menu-title">Menú Principal</h1>
        <div class="menu-items">
            <div class="menu-item">
                <button @onclick="NavigateToClients" class="menu-button">
                    <div class="img-container">
                        <img src="/Cliente.png" alt="Clientes" />
                    </div>
                    <span>Clientes</span>
                </button>
            </div>

            <div class="menu-item">
                <button @onclick="NavigateToRegistrarPrestamo" class="menu-button">
                    <div class="img-container">
                        <img src="/Prestamo.png" alt="Registrar Préstamo" />
                    </div>
                    <span>Registrar Préstamo</span>
                </button>
            </div>

            <div class="menu-item">
                <button @onclick="NavigateToRegistrarCobro" class="menu-button">
                    <div class="img-container">
                        <img src="/Cobro.png" alt="Registrar Cobro" />
                    </div>
                    <span>Registrar Cobro</span>
                </button>
            </div>

            <div class="menu-item">
                <button @onclick="() => NavigateToHistorialPrestamo(VisionId)" class="menu-button">
                    <div class="img-container">
                        <img src="/Historial prestamo.png" alt="Historial Préstamo" />
                    </div>
                    <span>Historial Préstamo</span>
                </button>
            </div>

            <div class="menu-item">
                <button @onclick="NavigateToVisionGeneral" class="menu-button">
                    <div class="img-container">
                        <img src="/Vision General.png" alt="Visión General" />
                    </div>
                    <span>Visión General</span>
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int VisionId { get; set; }
    private async Task NavigateToClients()
    {
        navigationManager.NavigateTo("/Cliente/Index");
    }

    private async Task NavigateToRegistrarPrestamo()
    {
        navigationManager.NavigateTo("/Prestamo/Index");
    }

    private async Task NavigateToRegistrarCobro()
    {
        navigationManager.NavigateTo("/Cobro/Create");
    }

    private async Task NavigateToHistorialPrestamo(int historialId)
    {
        navigationManager.NavigateTo("/Cliente/Seleccionar");
    }

    private async Task NavigateToVisionGeneral()
    {
        navigationManager.NavigateTo("/VisionGeneral/Index");
    }
}